@model Model.EF.Manufacturer
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Edit Manufacturer
}

@using (Html.BeginForm("Edit", "Manufacturer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <h4>Employee</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.manuId)  


    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            @Html.LabelFor(model => model.manuId, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.manuId, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Manufacturer Id" } })
            @Html.ValidationMessageFor(model => model.manuId, "", new { @class = "text-danger" })

        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            @Html.LabelFor(model => model.manuName, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.manuName, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Manufacturer Name" } })
            @Html.ValidationMessageFor(model => model.manuName, "", new { @class = "text-danger" })

        </div>
        <div class="col-sm-6 checkbox">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Address" } })
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Phone" } })
            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

        </div>


    </div>
    <div class="form-group row">
        <div class="col-sm-6">

            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control form-control-user" } })
            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>

    </div>



    <div class="form-group">
        <div class="col-md-offset-2">
            <button type="submit" value="Edit" class="btn btn-primary btn-user btn-block" />Edit
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

